@using EntityLayer.Concrete
@model List<MyProject>

<section id="hizmet" class="get-started section-bg">
    <div class="container constructions" id="constructions" data-aos="fade-up">

        <div class="section-header">
            <h2>Sunulan Hizmetler</h2>
            <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

            @foreach (var item in Model)
            {
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-item" style="border-radius:20px">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="card-bg" style="background-image: url(../CanstructionImages/@item.ProjectImage); border-radius:20px 0 0 20px"></div>
                            </div>
                            <div class="col-xl-7 d-flex align-items-center">
                                <div class="card-body table-responsive">
                                    <h4 class="card-title">@item.ProjectTitle</h4>
                                    <p>@item.ProjectDetails</p>
                                    <a href="/ServiceDetails/Index/@item.ProjectId" class="readmore stretched-link">Devamını Gör <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
