
<section id="get-started" class="get-started section-bg">
    <div class="container constructions" id="constructions" data-aos="fade-up">

        <div class="section-header">
            <h2>İnşaatlar</h2>
            <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../Template/UI/UpConstruction/assets/img/constructions-1.jpg);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Eligendi omnis sunt veritatis.</h4>
                                <p>Fuga in dolorum et iste et culpa. Commodi possimus nesciunt modi voluptatem placeat deleniti adipisci. Cum delectus doloribus non veritatis. Officia temporibus illo magnam. Dolor eos et.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../Template/UI/UpConstruction/assets/img/constructions-2.jpg);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Possimus ut sed velit assumenda</h4>
                                <p>Sunt deserunt maiores voluptatem autem est rerum perferendis rerum blanditiis. Est laboriosam qui iste numquam laboriosam voluptatem architecto. Est laudantium sunt at quas aut hic. Eum dignissimos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../Template/UI/UpConstruction/assets/img/constructions-3.jpg);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Error beatae dolor inventore aut</h4>
                                <p>
                                    Dicta porro nobis. Velit cum in. Nesciunt dignissimos enim molestiae facilis numquam quae quaerat ipsam omnis. Neque                                     debitis ipsum at architecto officia laboriosam odit. Ut sunt temporibus nulla culpa.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg" style="background-image: url(../Template/UI/UpConstruction/assets/img/constructions-4.jpg);"></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Expedita voluptas ut ut nesciunt</h4>
                                <p>
                                    est quidem doloremque voluptatem magnam quis excepturi vero quia. Eum eos doloremque architecto illo at beatae dolore.                                    Fugiat suscipit et sint ratione dolores. Aut aliquid ea dolores libero nobis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->

        </div>

    </div>
</section>