<footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <h3>AGYapıMühendislik</h3>
                    <div class="footer-info">
                        <p>
                            <strong>Adres:</strong> <br />Seyitnizam Mah. Demirciler Sitesi Altı Cadde No: 83/68 Galaxy İş Merkezi Zeytinburnu - İSTANBUL <br>
                            Türkiye<br><br />
                            <strong>Telefon:</strong> +90 536 380 70 06<br>
                            <strong>Email:</strong> agyapimuhendislik@outlook.com<br>
                        </p>
                        <div class="social-links d-flex mt-3">
                            <a target="_blank" href="https://www.instagram.com/agyapimuhendislik/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span><a href="#">AGYapıMühendislik</a></span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by <a href="https://www.linkedin.com/in/ilkay-gül/" target="_blank">İlkay Gül</a>
            </div>
            <div>
                2022 - @DateTime.Now.Year
            </div>
        </div>
    </div>

</footer>
