<header id="header" class="header d-flex align-items-center">


    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/Home/Index" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="~/Template/UI/UpConstruction/assets/img/favicon.png" alt="">
            <h1>
                AGYapıMühendislik<span>.</span>
            </h1>

        </a>



        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/Home/Index" class="active">AnaSayfa</a></li>
                <li><a href="/About/Index" class="btn-servi">Hakkımda</a></li>
                <li><a href="#servis" class="btn-servi">Servisler</a></li>
                <li><a href="#proj" class="btn-servi">Projeler</a></li>
                <li><a href="/Contact/Index">İletişim</a></li>
                <li>
                    <div class="container-fluid d-flex align-items-center">
                        <!--Dil Seçeneyi Eklendi-->
                        <partial name="~/Views/Shared/PartialViews/_LanguagePartialView.cshtml" />
                    </div>
                </li>
            </ul>
        </nav>
    </div>

</header>
