
<section id="projects" class="projects">
    <div class="container" id="proj" data-aos="fade-up">

        <div class="section-header">
            <h2>Projelerimiz</h2>
            <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

            <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-remodeling">Remodeling</li>
                <li data-filter=".filter-construction">Construction</li>
                <li data-filter=".filter-repairs">Repairs</li>
                <li data-filter=".filter-design">Design</li>
            </ul><!-- End Projects Filters -->

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/remodeling-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Kategori Adı</h4>
                            <p>İş Açıklaması kısa bilgi</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/remodeling-1.jpg" title="Kategori Adı" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="/ProjectDetail/Index" title="Detayı Gör" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/construction-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Construction 1</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/construction-1.jpg" title="Construction 1" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/repairs-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Repairs 1</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/repairs-1.jpg" title="Repairs 1" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-design">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/design-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Design 1</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/design-1.jpg" title="Repairs 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/remodeling-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Remodeling 2</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/remodeling-2.jpg" title="Remodeling 2" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/construction-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Construction 2</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/construction-2.jpg" title="Construction 2" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/repairs-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Repairs 2</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/repairs-2.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-design">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/design-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Design 2</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/design-2.jpg" title="Repairs 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/remodeling-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Remodeling 3</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/remodeling-3.jpg" title="Remodeling 3" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/construction-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Construction 3</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/construction-3.jpg" title="Construction 3" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/repairs-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Repairs 3</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/repairs-3.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

                <!--<div class="col-lg-4 col-md-6 portfolio-item filter-design">
                    <div class="portfolio-content h-100">
                        <img src="~/Template/UI/UpConstruction/assets/img/projects/design-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Design 3</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                            <a href="~/Template/UI/UpConstruction/assets/img/projects/design-3.jpg" title="Repairs 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="~/Template/UI/UpConstruction/project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>--><!-- End Projects Item -->

            </div><!-- End Projects Container -->

        </div>

    </div>
</section>