@using EntityLayer.Concrete
@model List<Contact>
@{
    ViewData["Title"] = "ContactMessage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Template/Admin/AdminPanel/font-awesome/css/font-awesome.css" rel="stylesheet">
<div class="wrapper wrapper-content">
    <div class="row">

        <!--MessageMenuPartialView-->
        <partial name="~/Areas/Admin/Views/Message/MessageMenuPartialView.cshtml" />

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <h2>
                    Gelen Mesajlar <i class="fa fa-medium"></i>
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">

                    <button class="btn btn-white btn-sm">
                        <a href="" style="color:black" class="fa fa-refresh">  Yenile</a>
                    </button>
                </div>
            </div>
            <div class="mail-box table-responsive">

                <table class="table  table-hover table-mail">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="read">
                                <td><span class="label label-success float-right"><i class="fa fa-medium "></i></span></td>
                                <td class="mail-ontact">
                                    <strong>@item.ContactUserName</strong>
                                </td>
                                <td class="mail-subject"><b>Konu : </b> @item.ContactSubject <br /></td>
                                <td class=""><i class="fa fa-paperclip"></i><a href="/Admin/Message/MessageDetails/@item.ContactId">Mesajı Oku.</a></td>
                                <td class="text-right mail-date">
                                    @(((DateTime)item.ContactDate).ToString("dd-MMMM-yyyy"))
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="color:white" href="/Admin/Message/MessageRemove/@item.ContactId">
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>