
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="">Mesaj Kutusu</a>
                <div class="space-25"></div>
                <h5>Klasörler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/Message/ContactMessage/"> <i class="fa fa-medium "></i>Gelen Mesajlar  <span class="label label-success float-right">@ViewBag.contactMessage</span> </a></li>

                    <li><a href="/Admin/Message/TrashBox/"> <i class="fa fa-trash-o"></i> Çöp Kutusu  <span class="label label-danger float-right">@ViewBag.trashboxMessage</span></a></li>
                </ul>
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

