@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    @foreach (var item in Model)
    {
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../Template/UI/UpConstruction/assets/img/breadcrumbs-bg.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>@item.AboutTitle</h2>

                <ol>
                    <li><a href="/Home/Index">AnaSayfa</a></li>
                    <li>Hakkımızda</li>
                </ol>

            </div>
        </div>

        <!-- End Breadcrumbs -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row position-relative">

                    <div class="col-lg-7 about-img" style="background-image: url(../Template/UI/UpConstruction/assets/img/about.jpg);"></div>

                    <div class="col-lg-7">
                        
                        <div class="our-story">
                            <h3>@item.AboutTitle2</h3>
                            <p>@item.AboutDetails</p>

                            @*<div class="watch-video d-flex align-items-center position-relative">
                        <i class="bi bi-play-circle"></i>
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
                        </div>*@
                        </div>
                    </div>

                </div>

            </div>
        </section>
    }

</main>