@using EntityLayer.Concrete
@model List<MyProject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Sunulan Hizmetler Listesi</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <a href="/Admin/Construction/ConstructionAdd/" class="btn btn-info">
                            Ekle
                        </a>
                        <a href="/Admin/Construction/ConstructionAdd2" target="_blank" class="btn btn-danger">
                            Detay Sayfasına Git
                        </a>

                        <table class="table  table-bordered table-hover mt-3 ">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Proje Detayları</th>
                                    <th>Resim</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="width:20rem;height:15rem">@item.ProjectTitle</td>
                                        <td style="width:20rem;height:15rem">@item.ProjectDetails</td>
                                        <td style="width:20rem;height:15rem">
                                            <img style="width:20rem;height:15rem" src="~/CanstructionImages/@item.ProjectImage">
                                        </td>

                                        <td style="width:9rem;height:9rem">
                                            <a href="/Admin/Construction/ConstructionRemove/@item.ProjectId" class="btn btn-danger">
                                                Sil
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



