<div class="footer">
    <div class="float-right">
        <strong>Yönetici Paneli</strong>
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2022 - <b>@DateTime.Now.Year</b>
    </div>
</div>
