@using EntityLayer.Concrete
@model List<Carousel2>

@{
    int i = 0;
}
@foreach (var item in Model)
{
    i++;
    var active = i == 1 ? "active" : "";
    <div class="carousel-item @active" style="background-image: url(/Carousel2Images/@item.BackImages)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

}